{% load static %}
<footer class="p-6 pt-6 md:pt-12 h-96 flex flex-col gap-8 items-center justify-start">
    <div class="relative flex-1 rounded-3xl shadow-xl w-[95%] m-1 md:m-8 bg-primary flex flex-col items-center justify-center p-12 pt-20 text-white gap-4">
        <img
            class="w-20 lg:w-40 opacity-50 absolute bottom-4 lg:bottom-12 right-6 lg:right-24 rotate-12" 
            src="{% static 'images/vegetable.png' %}" 
            alt="">
        <img
            class="w-24 lg:w-44 opacity-50 absolute top-6 lg:top-12 left-6 lg:left-24 rotate-0" 
            src="{% static 'images/Vegetables.png' %}" 
            alt="">
        <h2 class="font-bold text-2xl">Join Our Community Today</h2>
        <p class="lg:w-1/2 text-center opacity-80">
            Be part of the DirectFarm family and join a community of individuals who are passionate about fresh, sustainable, and locally-sourced food. 
            Together, we’re supporting local farmers, promoting transparency in food sourcing, and making a positive impact on our environment. 
            Sign up to stay updated on new products, seasonal offerings, and special events.
        </p>
        <a href="/signup/">
            <button class="p-4 pl-5 pr-5 rounded-full shadow-xl bg-white hover:bg-light hover:underline transition-all duration-300 text-primary font-bold mt-4">
                Sign Up Now - It's Free
            </button>
        </a>
    </div>
    <nav class="w-full flex flex-col md:flex-row items-center md:items-start flex-1 gap-4 mb-12">
        <div class="flex flex-col flex-1 items-center md:items-start">
            <a class="flex flex-col items-center text-2xl font-bold hover:no-underline p-4" href="/">
                <img src="{% static 'images/Icon.png' %}" class="w-20" alt="Logo of DirectFarm">
                <h1><span class="text-green">Direct</span><span class="text-brown">Farm</span></h1>
            </a>
            <div class="flex items-center justify-center gap-2 pl-4 mt-4">
                <a 
                    class="border border-primary p-4 rounded-full cursor-pointer flex items-center justify-center w-6 h-6 text-primary hover:bg-secondary hover:no-underline hover:text-dark"                        href="https://facebook.com">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a 
                    class="border border-primary p-4 rounded-full cursor-pointer flex items-center justify-center w-6 h-6 text-primary hover:bg-secondary hover:no-underline hover:text-dark"
                    href="https://instagram.com">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a 
                    class="border border-primary p-4 rounded-full cursor-pointer flex items-center justify-center w-6 h-6 text-primary hover:bg-secondary hover:no-underline hover:text-dark"
                    href="https://twitter.com">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>
        </div>
        <div class="flex flex-col items-center md:items-start flex-1">
            <h2 class="text-lg font-montserrat mb-2 font-bold">Products</h2>
            <a href="/shop/" class="font-primary">Go to Shop</a>
            <a href="/shop/" class="font-primary">Categories</a>
            <a href="/shop/" class="font-primary">Fresh Produce</a>
            <a href="/shop/" class="font-primary">Seasonal Specials</a>
            <a href="/shop/" class="font-primary">Organic Food</a>
        </div>
        <div class="flex flex-col items-center md:items-start flex-1">
            <h2 class="text-lg font-montserrat mb-2 font-bold">About Us</h2>
            <a href="/about/" class="font-primary">Our Story</a>
            <a href="/farmers/" class="font-primary">Meet the Farmers</a>
            <a href="/about/" class="font-primary">How it works</a>
            <a href="/blogs/" class="font-primary">Blogs</a>
        </div>
        <div class="flex flex-col items-center md:items-start flex-1">
            <h2 class="text-lg font-montserrat mb-2 font-bold">Support</h2>
            <a href="/#" class="font-primary">Help Centre</a>
            <a href="/contact/#faq" class="font-primary">FAQs</a>
            <a href="/signup/" class="font-primary">Join Our Community</a>
            <a href="/account/#orders" class="font-primary">Order Tracking</a>
            <a href="/#" class="font-primary">Returns & Refunds</a>
            <a href="/contact/" class="font-primary">Contact Us</a>
        </div>
    </nav>
    <div class="w-full border-t border-primary border-opacity-50 p-6 flex flex-col md:flex-row gap-1 md:gap-6 items-center font-normal text-sm">
        <span class="flex-1">&copy; 2024 <a href="/" class="">DirectFarm</a>. All rights reserved.</span>
        <a class="" href="/#">Cookie Preferences</a>
        <a class="" href="/#">Terms of Use</a>
        <a class="" href="/#">Privacy</a>
    </div>
</footer>